<div class="jumbotron">
  <h1 class="display-4">Bem vindo ao Blog App</h1>
  <p class="lead">Este é um blog simples, desenvolvido com Node.js, Express e MongoDB.</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre as novidades do mundo da computação.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
  </p>
</div>

<hr>

<h2>Postagens recentes</h2>

{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/post/{{slug}}"><button class="btn btn-info">Leia mais</button></a>
        <hr>
        <small>{{categoria.nome}}</small><br>
        <small>{{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}